<div class="cc">
    <div class="about">
        <h2>קצת עלינו....</h2>
            <!-- <p>ברוכים הבאים לאתר תכנון הטיול שלנו,<br>
            היעד האולטימטיבי שלך לכל צרכי הטיול שלך!<br>
            בין אם אתה מחפש הרפתקאות, חובב תרבות, או פשוט מחפש חופשה מרגיעה,<br>
            האתר שלנו נועד להפוך את תכנון הטיול לנוח. <br>
            עם מגוון רחב של יעדים שנאספו בקפידה,<br>
            אנו מציעים שפע של אפשרויות שיתאימו לטעם של כל מטייל.<br>
            מחופים מדהימים ועד הרים קסומים,<br> ערים שוקקות עד אזור כפרי שליו,<br> 
            האתר שלנו מספק מידע מקיף, טיפים פנימיים והמלצות מותאמות אישית <br>
            כדי להבטיח שהטיול שלכם יהיה לא פחות מיוצא דופן. <br>עם הממשק הידידותי למשתמש שלנו, <br>תוכל לעיין ולהשוות בקלות טיסות, <br>מקומות לינה ופעילויות, 
            <br>מה שמאפשר לך ליצור מסלול מותאם אישית 
            <br>שתואם בצורה מושלמת את ההעדפות והתקציב שלך.<br>
            אז למה לחכות? התחל לחקור את האתר שלנו עכשיו 
            <br>וצא למסע בלתי נשכח מלא בחוויות חדשות,<br>
            זיכרונות יקרים והרפתקאות אינסופיות!
        </p> -->
        <p>ברוכים הבאים לאתר til trip תכנון הטיול שלנו, היעד האולטימטיבי שלך לכל צרכי הטיול שלך! בין אם אתה מחפש הרפתקאות, חובב תרבות, או פשוט מחפש חופשה מרגיעה, האתר שלנו נועד להפוך את תכנון הטיול לנוח. עם מגוון רחב של יעדים שנאספו בקפידה, אנו מציעים שפע של אפשרויות שיתאימו לטעם של כל מטייל. מחופים מדהימים ועד הרים קסומים, ערים שוקקות עד אזור כפרי שליו, האתר שלנו מספק מידע מקיף, טיפים פנימיים והמלצות מותאמות אישית כדי להבטיח שהטיול שלכם יהיה לא פחות מיוצא דופן. עם הממשק הידידותי למשתמש שלנו, תוכל לעיין ולהשוות בקלות טיסות, מקומות לינה ופעילויות, מה שמאפשר לך ליצור מסלול מותאם אישית שתואם בצורה מושלמת את ההעדפות והתקציב שלך. אז למה לחכות? התחל לחקור את האתר שלנו עכשיו וצא למסע בלתי נשכח מלא בחוויות חדשות, זיכרונות יקרים והרפתקאות אינסופיות!</p>
    </div>
    <div class="Advertisements">
        <img class="slide" src="../../../assets/pic/פרסומת.jpg" alt="Image 1">
        <img class="slide" src="../../../assets/pic/פרסומת2.jpg" alt="Image 2">
        <img class="slide" src="../../../assets/pic/פרסומת3.jpg" alt="Image 3">
    </div>
</div>