.about{
    margin: 40px;
    padding: 40px;
    width: 670px;
    background-color: #ffffffa0;
}
.Advertisements{
    width: auto;
    margin: 80px 50px;
    position: relative;
    width: 400px;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width:400px;
    height: 300px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border: 2px solid #ffffff;
}
.show {
    opacity: 1;
}
.cc{
    display: flex;
    flex-wrap: wrap;
}