/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    direction: rtl;    
    background-image: url('./assets/pic/רקע2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}